<div ng-controller="messageController" ng-show="users">
	<div class="pull-right">
	<a href="#/dashboard" class="btn btn-warning btn-sm">Go Back</a>
	</div>
	<br>
	<br>
	<div class="list-group dropdown" ng-repeat="message in chat.messages">
		<a ng-click="getMessage()" class="list-group-item clearfix" data-toggle="dropdown">
	    <h4 class="list-group-item-heading">{{message.tMessage}}</h4>
	    <p class="list-group-item-text pull-right created_at">Sent by {{message.sentByName}}, at <span ng-bind="message.created_at | date: 'longDate'"></span></p>
	  </a>
	  <div class="dropdown-menu dropdown fluid">
	  	<h5 class="msginfo">Non-Translated: {{message.oMessage}}</h5>
	  	<h5 class="msginfo">Time Posted: <span ng-bind="message.created_at | date: 'mediumTime'"></span></h5>
	  <div ng-show="message.sentById === users._id">
	  	<a ng-click="deleteMessage(message._id,users._id,message.recvdById,message.recvdByName,message.tMessage,message.oMessage)" class="btn btn-danger btn-xs" id="delbutton">Delete</a>
	  </div>
	  </div>
	</div>
	<h4>Send Message</h4>
	<form role="form">
		<div class="form-group">
		<textarea name="message" ng-model='message.msg' class="form-control"></textarea>
		</div>
		<div class="form-group">
			<label for="language">Select Language to send Message:</label>
		      <select class="form-control" id="language" ng-model="message.language1">
		        <option value="en">English</option>
		        <option value="sq">Albanian</option>
		        <option value="ar">Arabic</option>
		        <option value="hy">Armenian</option>
		        <option value="af">Afrikaans</option>
		        <option value="eu">Basque</option>
		        <option value="bg">Bulgarian</option>
		        <option value="bs">Bosnian</option>
		        <option value="cy">Welsh</option>
		        <option value="vi">Vietnamese</option>
		        <option value="hu">Hungarian</option>
		        <option value="nl">Dutch</option>
		        <option value="el">Greek</option>
		        <option value="ka">Georgian</option>
		        <option value="da">Danish</option>
		        <option value="id">Indonesian</option>
		        <option value="ga">Irish</option>
		        <option value="it">Italian</option>
		        <option value="is">Icelandic</option>
		        <option value="es">Spanish</option>
		        <option value="ca">Catalan</option>
		        <option value="zh">Chinese</option>
		        <option value="ko">Korean</option>
		        <option value="la">Latin</option>
		        <option value="lv">Latvian</option>
		        <option value="lt">Lithuanian</option>
		        <option value="ms">Malay</option>
		        <option value="mt">Maltese</option>
		        <option value="mn">Mongolian</option>
		        <option value="de">German</option>
		        <option value="no">Norwegian</option>
		        <option value="fa">Persian</option>
		        <option value="pl">Polish</option>
		        <option value="pt">Portugese</option>
		        <option value="ro">Romanian</option>
		        <option value="ru">Russian</option>
		        <option value="sr">Serbian</option>
		        <option value="sk">Slovakian</option>
		        <option value="sw">Swahilian</option>
		        <option value="th">Thai</option>
		        <option value="tr">Turkish</option>
		        <option value="uz">Uzbek</option>
		        <option value="uk">Ukranian</option>
		        <option value="fi">Finish</option>
		        <option value="fr">French</option>
		        <option value="hr">Croatian</option>
		        <option value="cs">Czech</option>
		        <option value="sv">Swedish</option>
		        <option value="et">Estonian</option>
		        <option value="ja">Japanese</option>
		      </select>
		</div>
		<input type="submit" value="Send" ng-click='sendMessage(users._id,users.name,chat.contactId,chat.contactName)' class="btn btn-info">
	</form>
</div>
<div ng-show="!users">
      <a href="#" class="btn btn-info">Login To Continue</a>
</div>