body{
        padding-top:60px;
        min-height:100%
    }

.created_at{
	margin-bottom: 100px;
}

.msginfo{
	margin-left: 20px;
	margin-right: 20px;
}

#delbutton{
	float: right;
	margin-right: 15px;
}

#registerButton{
	margin-top: 300px;
}

#loginButton{
	margin-top: 10px;
}
.backgroundImg{
	width: 100%;
	height: 100%;  
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0; 
	background-image: url(../img/confetti.jpg) ;
	background-repeat:no-repeat;
	background-position: center center;
	background-attachment: fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}